form input {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	display: block;
}

form input:focus {
	outline: 1px solid #ff6600;
}

a, a:link, a:visited {
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

a:hover{
cursor: pointer;
color: #ff6600;
}
h2, h3 {
	text-align: center;
}
.main {
display: block;
margin: 0 auto;
width: 70%;
background-color: aquamarine;
padding: 15px;
}
.articleObject:hover {
cursor: pointer;
color: rgb(136, 136, 189);
}
.articleLi {
	list-style: none;
}